@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.newentry {
    padding-bottom: 10px;
}
h1 {
    /* font-size: 70px;
    font-weight: 600;
    color: #2E5266FF;
    font-family: 'Roboto', sans-serif; */
  font-size: 60px;
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
  color: white;
  text-transform: uppercase;
  text-shadow: 1px 1px 0px #355D7CFF,
               1px 2px 0px #355D7CFF,
               1px 3px 0px #355D7CFF,
               1px 4px 0px #355D7CFF,
               1px 5px 0px #355D7CFF,
               1px 6px 0px #355D7CFF,
               1px 10px 5px rgba(16, 16, 16, 0.5),
               1px 15px 10px rgba(16, 16, 16, 0.4),
               1px 20px 30px rgba(16, 16, 16, 0.3),
               1px 25px 50px rgba(16, 16, 16, 0.2);
}
.newentry-title {
    /* color: #011936FF;  */
    
    text-align: center;
    margin-top: 50px;
    text-align: center;     
}

.txt-title {
    margin: 80px auto 0;
    display: block;
    width: 900px;
    height: 55px;
    font-size: 17px;
    background-color: rgba(0,0,0,0.5);
    border: none;
    padding: 14px;
    border-radius: 10px;
    color: #F1F4FFFF;

}

.txt-area {
    margin: 0 auto 0;
    display: block;
    height: 300px;  
    width: 900px;
    background-color: rgba(0,0,0,0.5);
    color: #F1F4FFFF;
    font-size: 20px;
    overflow-y: auto;
    border: none;
    border-radius: 10px;
    padding: 14px;
}

::-webkit-scrollbar {
    width: 8px;
    cursor: pointer;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    background-color: rgb(110, 110, 110);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgb(0, 0, 0);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #202020;
}

::placeholder {
    color: #B0B8B4FF;
}

.btn-submit1 {
    margin: 20px auto;
    margin-bottom: 50px;
    display: block;
    outline: 0;
    border: 0;
    cursor: pointer;
    background-color: #2E5266FF;
    border-radius: 10px;
    padding: 8px 16px;
    font-size: 16px;
    font-weight: 700;
    color: white;
    line-height: 26px;
    width: 200px;
}

.btn-submit1:hover {
    background-color: #4A7297FF;
}