.viewentry {
    margin-right: 450px;
    border-radius: 10px;
    color: #F1F4FFFF;
    margin-left: 70px;
    margin-top: 70px;
    padding-left: 40px;
    padding-top: 40px;
    background-color: rgba(0,0,0,0.5);
    padding-right: 60px;
    padding-bottom: 20px;
    width: 1000px;
}
.view-title {
    font-size: 35px;
    color: #F1F4FFFF;
}

.view-date {
    font-size: 15px;
    color: #F1F4FFFF;
}
.view-data {
    margin-top: 50px;
    font-size: 20px;
}
.view-button {
    margin-top: 100px;
    margin-right: 20px; 
    display: block;
    outline: 0;
    border: 0;
    cursor: pointer;
    background-color: #2E5266FF;
    border-radius: 10px;
    padding: 8px 8px;
    font-size: 12px;
    font-weight: 500;
    color: white;
    line-height: 26px;
    width: 50px;
}
.view-button:hover {
    background-color: #4A7297FF;
}
.button-container {
    display: flex;
}
.my-icon {
    font-size: 1.5em;
  }
  .my-pencil-icon {
    font-size: 1.5em;
  }
  
  
  
  